
#user-title-row{
    justify-content: center;
}
.usersTitle {
    font-weight: 700;
    padding: 1em;
}
.usersTitle h1 {
    color: #A3C744;
}
.ant-table tbody > tr > td {
    border-bottom: 1px solid #A3C744;
    transition: background 0s;
}
.ant-table {
    
    color: #A3C744;
    background: #444444;
}

.ant-table tbody > tr.ant-table-row:hover > td {
    background: #303030 ;
}

.ant-table thead > tr > th {
    color: #A3C744;
    background: #303030 ;
    border-bottom: 1px solid #A3C744;

}
.ant-btn {

    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #444444;
    border-color: #444444;
    -webkit-transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-table tbody > tr.ant-table-row:hover > td > span > button.ant-btn{
    background: #303030 ;
    border-color: #303030;
}

.ant-btn:focus {
    color: #A3C744;
    background-color: #303030;
    border-color: #303030;
}

a {
    color: #A3C744;
    
}
a:hover {
    color: #A3C744;
}
.ant-pagination {
    color: #A3C744;
}
.ant-pagination-item {
    background-color: #444444;
    border: 1px solid #444444;
}
.ant-pagination-item-active:hover a {
    color: #A3C744;
    border-color:#A3C744 ;
}
.ant-pagination-item-active a {
    color: #A3C744;
}
.ant-pagination-item-active {
  
    background: #444444;
    border-color: #A3C744;
}
.ant-pagination-item-active:hover {
    border-color: #A3C744;
}
.ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
    color: #a3c744;
    background-color: #444444;
}
.ant-pagination-item:focus, .ant-pagination-item:hover {
    border-color: #a3c744;
}
.ant-pagination-disabled, .ant-pagination-disabled:hover, .ant-pagination-disabled:focus {
    border-color: #A3C744;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
 
    background-color: #444444;
    border: 1px solid #444444;
}
.anticon {
  
    color: #A3C744;
}
.ant-pagination-item:focus a, .ant-pagination-item:hover a {
    color: #A3C744;
    border-color: #A3C744;
}

.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
    color: #A3C744;
    border-color: #A3C744;
}